body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    background-color: #AC84E3;
}

a {
    text-decoration: none;
    color: #fff;
}

.logo {
    margin-left: 100px;
    margin-top: 50px;
}

.logo img {
    width: 90px;
}

.nav_txt {
    margin-left: 892px;
    margin-top: -70px;
    margin-right: 50px;
    padding-right: 10px;
}

.nav_txt a {
    padding-right: 60px;
}

.mountain {
    margin: 100px 100px 0 100px;
}

.mountain p {
    font-size: 18px;
}

.mountain img {
    margin-top: 20px;
}

.medeu {
    margin: 100px 100px 0 100px;
}

.medeu p {
    font-size: 18px;
}

.medeu img {
    width: 900px;
    margin-top: 20px;
}

.hotel {
    margin: 100px 100px 0 100px;
}

.hotel p {
    font-size: 18px;
}

.hotel img {
    margin-top: 20px;
}
